.stepper-btn {
  border: 1px solid #ddd;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  color: #9c9c9c;
  border-radius: 0.4rem; }

.stepper {
  margin-top: 1rem; }
  .stepper .input {
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid #ddd;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-appearance: none; }
